body {
    font-family: Arial, sans-serif;
  }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #2F4F4F;
    overflow: hidden;
}
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: black;
  }

header {
    background-color: #171a1a;
    color: white;
    text-align: center;
    padding: 60px;
}
  
  main {
    padding: 20px;
  }

section {
    padding: 40px;
    margin: 20px;
    background-color: #171a1a;
    color: white;
    border-radius: 10px;
}
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  
  @media screen and (max-width: 600px) {
    nav li {
      float: none;
    }
  }
  